---
const {
    title,
    github1,
    github2,
    tech1,
    tech2,
    tech3,
    img,
    altImg,
    desc,
    imgGit,
    altImgGit,
    altTech1,
    altTech2,
    altTech3
} = Astro.props;
---

<div class="w-full max-w-xl mx-auto h-auto my-5 flex flex-col">
    <div class="my-5">
        <h2 class="font-lexend text-5xl text-center text-blue-400">{title}</h2>
    </div>
    <div class="my-5">
        <img src={img} alt={altImg} class="w-full"/>
    </div>
    <div>
        <p class="font-lexend text-xl">{desc}</p>
    </div>
    <div class="flex justify-around my-12">
        <a href={github1} target="_blank" class="text-center font-lexend ">
            <img src={imgGit} alt={altImgGit} class="w-24"/>Backend
        </a>
        <a href={github2} target="_blank" class="text-center font-lexend">
            <img src={imgGit} alt={altImgGit} class="w-24"/>Frontend
        </a>
    </div>
    <div class="flex justify-around w-full items-center">
        <img src={tech1} alt={altTech1} class="w-26 h-16"/>
        <img src={tech2} alt={altTech2} class="w-24 h-auto"/>
        <img src={tech3} alt={altTech3} class="w-24 h-auto"/>
    </div>
</div>
