---
import EnhancedProjectCard from "./EnhancedProjectCard.astro";
import { getCollection } from "astro:content";

import githubIcon from "../assets/images/github.png";

const projectsData = await getCollection("projects");
---

<section
    class="w-full h-auto py-20 px-5 bg-gradient-to-b from-white to-mint-50"
    id="proyectos"
>
    <h2
        class="font-extrabold font-lexend text-5xl sm:text-6xl bg-clip-text text-transparent bg-gradient-to-r from-mint-600 to-teal-600 text-center mb-16 reveal"
    >
        Proyectos
    </h2>

    <div class="max-w-6xl mx-auto space-y-12 reveal">
        {
            projectsData.map((project) => (
                <EnhancedProjectCard
                    title={project.data.title}
                    image={project.data.image}
                    altImage={project.data.title}
                    desc={project.data.desc}
                    githubBackend={project.data.githubBackend}
                    githubFrontend={project.data.githubFrontend}
                    gitIcon={githubIcon}
                    techStack={project.data.techStack}
                />
            ))
        }
    </div>
</section>
