---
const {
    title,
    github1,
    github2,
    tech1,
    tech2,
    tech3,
    img,
    altImg,
    desc,
    imgGit,
    altImgGit,
    altTech1,
    altTech2,
    altTech3
} = Astro.props;
---

<div class="w-full max-w-xl mx-auto h-auto my-5 flex flex-col">
    <div class="my-5">
        <h2 class="font-lexend text-5xl text-center text-blue-400">{title}</h2>
    </div>
    <div class="my-5">
        <img src={img} alt={altImg} class="w-full"/>
    </div>
    <div>
        <p class="font-lexend text-xl">{desc}</p>
    </div>
    <div class="flex justify-around my-12">
        <a href={github1} target="_blank" class="text-center font-lexend ">
            <img src={imgGit} alt={altImgGit} class="w-24"/>Backend
        </a>
        <a href={github2} target="_blank" class="text-center font-lexend">
            <img src={imgGit} alt={altImgGit} class="w-24"/>Frontend
        </a>
    </div>
    <div class="flex justify-around w-full">
        <img src={tech1} alt={altTech1} class="w-26 h-16"/>
        <img src={tech2} alt={altTech2} class="w-24 h-24"/>
        <img src={tech3} alt={altTech3} class="w-24 h-16"/>
    </div>
</div>

<!-- <div
    class="w-full m-2 sm:w-1/2 sm:m-10 flex flex-col items-center rounded-lg shadow-lg bg-blue-200"
>
    <header class="w-full">
        <h1
            class="text-4xl m-5 font-lexend text-center text-blue-700 font-bold"
        >
            {title}
        </h1>
        <div class="w-full px-5 pb-5">
            <Image
                src={foto}
                alt="foto"
                width={500}
                height={500}
                class="w-full h-auto block rounded-xl sm:hover:scale-110 sm:hover:shadow-2xl sm:transition sm:transform duration-300"
            />
        </div>
    </header>
    <main class="h-1/2">
        <p class="m-3 font-lexend">{data}</p>
        <div class="w-full h-auto flex flex-col justify-between items-center">
            <div class="w-full flex justify-center items-center">
                <div class="w-full h-full flex flex-col items-center">
                    <a
                        href={github1}
                        target="_blank"
                        class="flex justify-center items-center"
                    >
                        <Image
                            src="/github.png"
                            alt="github"
                            width={500}
                            height={500}
                            loading="lazy"
                            class="w-sm h-20 m-5 sm:m-0 object-contain opacity-100 sm:hover:opacity-50 sm:transition-opacity sm:duration-300 sm:ease-in-out"
                        />
                    </a>
                    <p class="text-3xl sm:text-xl">Backend</p>
                </div>
                <div class="w-full h-full flex flex-col items-center">
                    <a
                        href={github2}
                        target="_blank"
                        class="flex justify-center items-center"
                    >
                        <Image
                            src="/github.png"
                            alt="github"
                            width={500}
                            height={500}
                            loading="lazy"
                            class="w-sm h-20 m-5 sm:m-0 object-contain opacity-100 sm:hover:opacity-50 sm:transition-opacity sm:duration-300 sm:ease-in-out"
                        />
                    </a>
                    <p class="text-3xl sm:text-xl">Frontend</p>
                </div>
            </div>
            <div class="w-full h-xl flex flex-row">
                <div class="w-1/2 m-5 flex justify-center items-center">
                    <a
                        href="https://spring.io/projects/spring-boot"
                        target="_blank"
                        ><Image
                            src={tech1}
                            alt="SpringBoot"
                            width={500}
                            height={500}
                            loading="lazy"
                            class="w-sm h-20 m-5 sm:m-0 object-contain opacity-100 sm:hover:opacity-50 sm:transition-opacity sm:duration-300 sm:ease-in-out"
                        /></a
                    >
                </div>
                <div class="w-1/2 m-5 flex justify-center items-center">
                    <a href="https://angular.dev/" target="_blank"
                        ><Image
                            src={tech2}
                            alt="Angular"
                            width={500}
                            height={500}
                            loading="lazy"
                            class="w-sm h-20 m-5 sm:m-0 object-contain opacity-100 sm:hover:opacity-50 sm:transition-opacity sm:duration-300 sm:ease-in-out"
                        /></a
                    >
                </div>
                <div class="w-1/2 m-5 p-5 flex justify-center items-center">
                    <a href="https://tailwindcss.com/" target="_blank"
                        ><Image
                            src={tech3}
                            alt="tailwind"
                            width={500}
                            height={500}
                            loading="lazy"
                            class="w-sm h-20 m-5 sm:m-0 object-contain opacity-100 sm:hover:opacity-50 sm:transition-opacity sm:duration-300 sm:ease-in-out"
                        /></a
                    >
                </div>
            </div>
        </div>
    </main>
</div> -->
