---
import EnhancedProjectCard from "./EnhancedProjectCard.astro";
import { getCollection } from "astro:content";

// Importa las capturas de pantalla
import parkingImg from "../assets/images/parking.png";
import barbersImg from "../assets/images/barbers.png";

// Importa los iconos de tecnologías
import springIcon from "../assets/images/spring.png";
import angularIcon from "../assets/images/angular.png";
import primengIcon from "../assets/images/primeng-logo.png";
import tailwindIcon from "../assets/images/tailwind.svg";
import githubIcon from "../assets/images/github.png";

const projectsData = await getCollection('projects');
---

<section
    class="w-full h-auto py-20 px-5 bg-gradient-to-b from-white to-mint-50"
    id="proyectos"
>
    <div class="max-w-6xl mx-auto space-y-12">
        {
            projectsData.map((project) => (
                <EnhancedProjectCard
                    title={project.data.title}
                    image={project.data.image}
                    altImage={project.data.title}
                    desc={project.data.desc}
                    githubBackend={project.data.githubBackend}
                    githubFrontend={project.data.githubFrontend}
                    gitIcon={githubIcon}
                    techStack={project.data.techStack}
                />
            ))
        }
    </div>
</section>
